@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans-Bold.woff");
  font-weight: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
}

body,
#root {
  width: 100%;
  height: 100vh;
}
